@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap");

body.styled {
  margin: 0px;
  background: whitesmoke;
}

.header {
  background: black;
  min-width: 100vw;
  height: 7vh;
  text-align: center;
}

.wrapper {
  display: flex;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-inline: 1vw;
}

div.inline {
  display: inline-block;
  width: 15vw;
  margin: 5px;
}

.text {
  color: #000000;
  font-family: "Roboto Mono", monospace;
  margin: 15px;
}

.center {
  align-content: center;
  text-align: center;
}

.separator {
  height: 5vh;
}

.smallseparator {
  height: 2vh;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  margin-left: 1vw;
  margin-right: 1vw;
}

.headerTitle {
  color:white;
  font-family: "Roboto Mono", monospace;
}

.title {
  color: black;
  margin-left: 0.5vw;
  font-family: "Roboto Mono", monospace;
}

.ultext {
  color: black;
  font-family: "Roboto Mono", monospace;
}

.normalText {
  color: black;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  font-family: "Roboto Mono", monospace;
}

.block {
  width: 25vw;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  background: white;
  margin-bottom: 2vh;
}

.item {
  width: 15vw;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  background: white;
}

.button {
  backface-visibility: hidden;
  background-color: dimgray;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

input {
  background-color: white;
  color: #000000;
  text-align: center;
  width: 95%;
  border-radius: 6px;
  border-color: #000000;
  font-family: "Roboto Mono", monospace;
}

input:focus {
  border-radius: 15px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: red;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: green;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
